﻿    .spanny {
        margin-bottom: 20vh;
    }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px blue solid;
        padding: 60px 20px;
    }