﻿
@using EdisonGame.Models.GameModel
@{
    ViewBag.Title = "CreateNewLobby";
    Layout = "~/Views/_MainLayout.cshtml";
}
@model Lobby

<div class="row">
    <div class="col-lg-12">
        <div class="spanny"></div>
        @Html.ValidationSummary(false)
        
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Lobby Name</label>
                @Html.TextBoxFor(m => m.LobbyName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Lobby Capacity</label>
                @Html.DropDownListFor(m=>m.LobbyCapacity, new SelectList(
                    new List<object>() { new { value = 4, text = "4"}, 
                        new { value = 6, text = "6"} }, "value", "text"),
                    new { @class = "form-control"})                
            </div>

            <div class="checkbox">
                <label>@Html.CheckBoxFor(m => m.InGameAutomaticaly)I join immediately</label>
            </div>

            <br/>
           
            <button type="submit" class="btn btn-info">Create New Lobby</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>

