﻿@using EdisonGame.Models.GameModel
@using EdisonGame.Models.Identity
@model GameGlobal
@{
    ViewBag.Title = "Game!";
    Layout = "~/Views/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-right">
        @Html.ActionLink("Exit", "LogOut", "Authorize", null, new {@class = "btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="btn-group">
        @Html.ActionLink("Create Lobby", "CreateNewLobby", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete Lobby", "CreateNewLobby", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Lobies 4 (@Model.Lobbies.Where(p => p.LobbyCapacity == 4).ToList().Count))</h2>

        @foreach (Lobby lobby in Model.Lobbies.Where(p => p.LobbyCapacity == 4))
        {
            <div class="thumbnail">
                <h4>@lobby.LobbyName</h4>
                <p>Количество игроков: @lobby.LobbyCapacity</p>
                <p>Приcоединились: @lobby.Gamers.Count</p>
                <div class="btn-group-sm">
                    <button class="btn btn-default">Join!</button>
                    <button class="btn btn-default">Leave</button>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <h2>Lobies 6 (@Model.Lobbies.Where(p => p.LobbyCapacity == 6).ToList().Count))</h2>

        @foreach (Lobby lobby in Model.Lobbies.Where(p => p.LobbyCapacity == 6))
        {
            <div class="thumbnail">
                <h4>@lobby.LobbyName</h4>
                <p>Количество игроков: @lobby.LobbyCapacity</p>
                <p>Приcоединились: @lobby.Gamers.Count</p>
                <div class="btn-group-sm">
                    <button class="btn btn-default">Join!</button>
                    <button class="btn btn-default">Leave</button>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <h2>Online Users</h2>

        @foreach (GameUser user in Model.OnlineUsers)
        {
            <div class="alert alert-success">
                <p>@user.PublicName</p>
                <p>@user.UserName</p>
                <p>@user.Id</p>
            </div>
        }
    </div>

    <div class="col-md-6">
        <h2>All Users</h2>

        @foreach (GameUser user in Model.AllUsers)
        {
            <div class="alert alert-info">
                <p>@user.PublicName</p>
                <p>@user.UserName</p>
                <p>@user.Id</p>
            </div>
        }
    </div>

</div>



