﻿@model EdisonGame.Models.Identity.LoginModel
@{
    ViewBag.Title = "Игра";
    Layout = "~/Views/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="spanny"></div>

        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                @Html.TextBoxFor(m=>m.Name, new { @class="form-control", @placeholder="Введите свой логин"})
            </div>
            <br />
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-asterisk"></span>
                </span>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Введите пароль" })
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Log In</button>
            @Html.ActionLink("Sign In", "SignIn", null, new { @class = "btn btn-default" })
        }

    </div>
</div>

