﻿
@model EdisonGame.Models.Identity.UserCreateModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="spanny"></div>
        @Html.ValidationSummary(false)        
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>User Public Name</label>
                @Html.TextBoxFor(m => m.PublicName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Login</label>
                @Html.TextBoxFor(m => m.Login, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.TextBoxFor(m => m.Password, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-info">Create New User</button>
            @Html.ActionLink("Cancel", "Login", null, new { @class = "btn btn-default" })
        }
    </div>
</div>

